#mainContent{
  position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 400px;
  overflow: auto;
  padding: 15px;
}

#menu{
  position: fixed;
    top: 0px;
    left: 0px;
    width: 400px;
    height: 100px;
  background-color: rgb(165, 221, 219);
}

#sidebar{
  position: fixed;
    top: 100px;
    left: 0px;
    bottom: 0px;
    width: 400px;
  overflow: auto;
  background-color: rgb(214, 200, 164);
}
