#mainContent{
  position: fixed;
    top: 50px;
    right: 0px;
    bottom: 0px;
    left: 300px;
  overflow: auto;
  padding: 15px;
}

.queryName{
    display: inline-block;
    margin: 10px;
}

#menu{
  position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
  background-color: rgb(54, 163, 45);
}
    #logo{
        position: fixed;
            top: 0px;
            left: 0px;
            height: 50px;
            width: 80px;
    }
    #title{
        position: fixed;
            top: 0px;
            left: 80px;
            height: 50px;
            right: 0px;
    }
    .title{
        margin: 15px;
        color: rgb(245, 245, 245);
    }

#sidebar{
  position: fixed;
    top: 50px;
    left: 0px;
    bottom: 0px;
    width: 300px;
  overflow: auto;
  background-color: rgb(207, 207, 207);
}

textarea{
    height: 100px;
    width: 100%;
}
